configuration {
    modi:            "dmenu";
    show-icons:      false;
    hover-select:    true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
}

@import "shared/colors.rasi"

window {
    width:            1000px;
    height:           680px;
    transparency:     "real";
    background-color: @bg;
    border:           1px;
    border-color:     @window-border;
    border-radius:    20px;
}

mainbox {
    children: [ inputbar, listview ];
    padding:  25px;
    spacing:  20px;
}

inputbar {
    background-color: @card-bg;
    border:           1px;
    border-color:     @card-border;
    border-radius:    12px;
    padding:          12px 18px;
    children:         [ prompt, entry ];
    spacing:          15px;
}

prompt {
    text-color: @accent;
    font:       "JetBrainsMono Nerd Font Bold 14";
}

entry {
    placeholder:       "Search Clipboard...";
    placeholder-color: rgba(255, 255, 255, 0.3);
    font:              "JetBrainsMono Nerd Font 12";
}

listview {
    columns:       3;
    lines:         4;
    cycle:         true;
    dynamic:       true;
    layout:        vertical;
    flow:          horizontal;
    fixed-columns: true;
    spacing:       18px;
}

element {
    orientation:      vertical;
    border-radius:    12px;
    background-color: @card-bg;
    border:           1px;
    border-color:     @card-border;
    padding:          20px;
}

element selected {
    background-color: @selected;
    border-color:     @accent;
}

element-text {
    font:             "JetBrainsMono Nerd Font 10";
    expand:           true;
    horizontal-align: 0.0;
    vertical-align:   0.0;
}
