configuration {
    font: "JetBrainsMono Nerd Font 13";
    show-icons: true;
    display-drun: "󰀻";
    display-run: "󰆍";
    display-window: "󰨡";
}

* {
    bg: rgba(23, 23, 23, 0.85);
    fg: #e0e0e0;
    accent: #f5c2e7;
    background-color: transparent;
    text-color: @fg;
}

window {
    width: 650px;
    height: 450px;
    transparency: "real";
    background-color: @bg;
    border: 1px;
    border-color: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
}

mainbox {
    padding: 20px;
    children: [ inputbar, listview ];
}

inputbar {
    background-color: rgba(255, 255, 255, 0.03);
    border: 1px;
    border-color: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    padding: 10px 15px;
    margin: 0px 0px 15px 0px;
    children: [ prompt, entry ];
}

prompt {
    text-color: @accent;
    margin: 0px 10px 0px 0px;
}

entry {
    text-color: @fg;
    placeholder: "Поиск...";
    placeholder-color: rgba(255, 255, 255, 0.3);
}

listview {
    columns: 1;
    spacing: 6px;
    cycle: true;
    dynamic: true;
}

element {
    border-radius: 12px;
    padding: 10px 12px;
}

element-icon {
    size: 24px;
    margin: 0px 10px 0px 0px;
}

element-text {
    text-color: inherit;
    vertical-align: 0.5;
}

element selected {
    background-color: rgba(255, 255, 255, 0.05);
    text-color: @accent;
}
